# app
/.scannerwork
/.vagrant
/dist
/vendor/
/.phpunit.result.cache

# IDEs
/.settings
/.buildpath
/.jshintrc
/.project
/nbproject
/.vscode
/.idea
/.editorconfig

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Docker
/.mariadb
!/.mariadb/.gitkeep
