# backend
/.env
/var/cache/*
!/var/cache/.gitkeep
/var/logs/*
!/var/logs/.gitkeep
/vendor/
/web/node_modules/
/web/swagger.json

# vagrant
/.vagrant

# frontend
npm-debug.log*

# IDEs
/.buildpath
/.project
/.settings
/nbproject
