# app
/.scannerwork
/.vagrant
/dist
/vendor/
/.phpunit.result.cache

# OS, IDEs
.DS_Store
/.settings
/.buildpath
/.jshintrc
/.project
/nbproject
/.vscode
/.idea
/.editorconfig

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Docker
/.db/*
!/.db/.gitkeep
