# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production

# Application environment, dev or prod, required
NEUCORE_APP_ENV=dev

# Database connection, required
NEUCORE_DATABASE_URL=mysql://neucore:neucore@neucore_db/neucore
NEUCORE_MYSQL_VERIFY_SERVER_CERT="0" # 1 or 0, if set to 1 set a ca file below
NEUCORE_MYSQL_SSL_CA="" # /path/to/ca.pem

# Database for unit tests (not needed in production)
NEUCORE_TEST_DATABASE_URL=mysql://neucore:neucore@localhost/neucore_test
#NEUCORE_TEST_DATABASE_URL=sqlite:///:memory:
NEUCORE_TEST_MYSQL_VERIFY_SERVER_CERT=0
NEUCORE_TEST_MYSQL_SSL_CA=

# EVE application (create at https://developers.eveonline.com, required.
# If you use different ports for the backend and frontend make sure the callback points to the backend.
NEUCORE_EVE_CLIENT_ID=123
NEUCORE_EVE_SECRET_KEY=abc
NEUCORE_EVE_CALLBACK_URL=https://neucore.domain.tld/login-callback

# Scopes for login, separated by one space, optional
NEUCORE_EVE_SCOPES=""

# Optional user agent for all HTTP requests, see config/settings.php for default
# It is strongly recommended to set this. CCP may use this to contact you if there is a problem.
NEUCORE_USER_AGENT=""

# Set this to 1 to use the token from the user that is used to send mails.
# This can result in better rate limits for the EVE API.
# See also https://developers.eveonline.com/docs/services/esi/rate-limiting/#bucket-system.
NEUCORE_USE_MAIL_TOKEN_FOR_UNAUTHORISED_REQUESTS=0

# Comma separated list of allowed domains for the HTTP_ORIGIN header, optional.
# Set this is the domain(s) of the frontend if it's running on a different port than the backend.
NEUCORE_ALLOW_ORIGIN=http://localhost:3000

# Logs
NEUCORE_LOG_PATH="" # absolute path to the log directory or output stream, optional, defaults to /path/to/backend/var/logs
NEUCORE_LOG_ROTATION="" # optional: daily, weekly (default) or monthly
NEUCORE_LOG_FORMAT="" # optional: multiline (default), line (no stacktrace), fluentd, gelf, html, json, loggly, logstash

# Cache, optional absolute path to the cache directory, defaults to /path/to/backend/var/cache
NEUCORE_CACHE_DIR=

# Error reporting level, optional, defaults to the value of E_ALL & ~E_DEPRECATED, this needs to be a number.
NEUCORE_ERROR_REPORTING=
#NEUCORE_ERROR_REPORTING=32767 # PHP 8.1-8.3 E_ALL
#NEUCORE_ERROR_REPORTING=30719 # PHP 8.4 E_ALL

# session.cookie_secure, optional, defaults to 1
NEUCORE_SESSION_SECURE=1

# IP based Rate Limit - deactivated if one of them is 0 or empty, defaults to 0. Needs the APCu extension!
NEUCORE_RATE_LIMIT_MAX="0" # Maximum requests
NEUCORE_RATE_LIMIT_TIME="0" # Reset time in seconds

# Full path to the directory where plugins are stored. It's used to read the plugin.yml files.
NEUCORE_PLUGINS_INSTALL_DIR=/plugins
