# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production

# dev or prod
BRAVECORE_APP_ENV=dev

# only mysql is supported (because of auto generated migrations)
BRAVECORE_DATABASE_URL=mysql://core:brave@localhost/core
BRAVECORE_MYSQL_SSL_CA= # /path/to/ca.pem
BRAVECORE_MYSQL_VERIFY_SERVER_CERT=1 # 1 or 0

# database for unit tests
BRAVECORE_TEST_DATABASE_URL=mysql://core:brave@localhost/core_test
BRAVECORE_TEST_MYSQL_SSL_CA=
BRAVECORE_TEST_MYSQL_VERIFY_SERVER_CERT=1

# EVE application (https://developers.eveonline.com or https://developers.testeveonline.com)
BRAVECORE_EVE_CLIENT_ID=123
BRAVECORE_EVE_SECRET_KEY=abc
BRAVECORE_EVE_CALLBACK_URL=https://brave.core.tld/login-callback

# tranquility or singularity
BRAVECORE_EVE_DATASOURCE=tranquility

# scopes for login, separated by one space
BRAVECORE_EVE_SCOPES=""

# Comma separated list of allowed domains for the HTTP_ORIGIN header, e. g. https://frontend.domain.tld
BRAVECORE_ALLOW_ORIGIN=
