parameters:
    level: 8
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../var/cache/proxies/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: offsetAccess.notFound
        -
            message: '#Method (.*) has no return type specified.#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#Cannot call method (.*) on (.*)#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#Method (.*) should return (.*) but returns (.*)#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#Cannot access offset (.*) on array(.*)#'
            path: %currentWorkingDirectory%/tests/Unit/*
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/PlayerTest.php
        -
            message: '#Parameter \#1 \$value of function count expects (.*) given.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/AccountTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/AccountTest.php
        -
            message: '#Parameter \#1 \$value of function count expects (.*) given.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/DataTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/DataTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/CorporationMemberTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/EsiTokenTest.php
        -
            message: '#Call to method (.*)assertNotNull\(\) with null will always evaluate to false.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/EsiTokenTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/RemovedCharacterTest.php
