parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        -
            message: '#Offset (.*) might not exist on array\|string\|null.#'
            path: %currentWorkingDirectory%/*
        -
            message: '#Property (.*)\$id \(int\|null\) is never assigned int (.*)#'
            path: %currentWorkingDirectory%/src/Entity/*
        -
            message: '#(.*)Watchlist::getExemptionList\(\) should return(.*)but returns(.*)#'
            path: %currentWorkingDirectory%/src/Service/Watchlist.php
        -
            message: '#(.*)Watchlist::getAllowlistCorporationList\(\) should return(.*)but returns(.*)#'
            path: %currentWorkingDirectory%/src/Service/Watchlist.php
        -
            message: '#Parameter \#1 \$callback of function array_map expects (.*), (.*) given.#'
            path: %currentWorkingDirectory%/src/*/Watchlist*.php
        -
            message: '#Method (.*) has no return type specified.#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#(.*)has an unused parameter \$*#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#Cannot call method (.*) on (.*)#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#Class Tests\\Client extends @final class GuzzleHttp\\Client.#'
            path: %currentWorkingDirectory%/tests/Client.php
        -
            message: '#Class Tests\\Logger extends @final class Monolog\\Logger.#'
            path: %currentWorkingDirectory%/tests/Logger.php
        -
            message: '#Method (.*) should return (.*) but returns (.*)#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#Cannot access offset (.*) on array(.*)#'
            path: %currentWorkingDirectory%/tests/Unit/*
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/PlayerTest.php
        -
            message: '#Call to an undefined method#'
            path: %currentWorkingDirectory%/tests/Functional/ConsoleTestCase.php
        -
            message: '#Parameter \#1 \$value of function count expects (.*) given.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/AccountTest.php
        -
            message: '#Offset (.*) might not exist on array<(.*)>\|null.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/AccountTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/AccountTest.php
        -
            message: '#Parameter \#1 \$value of function count expects (.*) given.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/DataTest.php
        -
            message: '#Offset (.*) might not exist on array<(.*)>\|null.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/DataTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Plugin/Core/DataTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/CorporationMemberTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/EsiTokenTest.php
        -
            message: '#Call to method (.*)assertNotNull\(\) with null will always evaluate to false.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/EsiTokenTest.php
        -
            message: '#Cannot access property (.*) on (.*)null.#'
            path: %currentWorkingDirectory%/tests/Unit/Entity/RemovedCharacterTest.php
