<!DOCTYPE xml>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Neucore">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/Migrations</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="var/logs/clover.xml" />
    </logging>
</phpunit>
