<!DOCTYPE xml>
<phpunit bootstrap="src/tests/bootstrap.php">
    <testsuites>
        <testsuite name="Brave Core">
            <directory>src/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/classes</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="var/logs/clover.xml" />
    </logging>
</phpunit>
