
/* cosmo, lumen, solar */
@import "~@fontsource/source-sans-pro/300.css";
@import "~@fontsource/source-sans-pro/400.css";
@import "~@fontsource/source-sans-pro/400-italic.css";
@import "~@fontsource/source-sans-pro/600.css";
@import "~@fontsource/source-sans-pro/700.css";
