option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web

commands:
  webapp_shell:
    command: |
      chsh -s /bin/bash webapp
      mkdir /home/webapp
      chown webapp:webapp /home/webapp
      chmod 0700 /home/webapp

files:
  "/etc/cron.d/app-run-jobs":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 4,12,20 * * * webapp source /opt/elasticbeanstalk/support/envvars && /var/app/current/backend/bin/run-jobs.sh
