<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brave Collective Core Services</title>
</head>
<body>
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
        Please <a href="https://browsehappy.com/">upgrade your browser</a>
        to improve your experience and security.</p>
    <![endif]-->

    <div id="app">
        <div v-if="loadingCount > 0" v-cloak id="loader"></div>

        <div v-if="successMessage" v-cloak class="alert alert-success brv-alert">
            {{ successMessage }}
        </div>

        <div v-if="errorMessage" v-cloak class="alert alert-danger fade show brv-alert">
            {{ errorMessage }}
            <button type="button" class="close" v-on:click="errorMessage = '';" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <navbar :auth-char="authChar" :page="route[0]"></navbar>

        <keep-alive>
            <component v-bind:is="page" :route="route"
                :initialized="initialized" :swagger="swagger"
                :player="player" :auth-char="authChar"></component>
        </keep-alive>

        <footer class="footer bg-secondary">
            <div class="container text-muted">
                Brave Collective Services. For support write to
                support@bravecollective.freshdesk.com or ask in the ingame channel "Brave IT".
            </div>
        </footer>
    </div>
</body>
</html>
