<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brave Collective Core Services</title>
</head>
<body>
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
        Please <a href="https://browsehappy.com/">upgrade your browser</a>
        to improve your experience and security.</p>
    <![endif]-->

    <div id="app">
        <div v-if="loadingCount > 0" v-cloak id="loader"></div>

        <div v-if="successMessage" v-cloak class="alert alert-success brv-alert">{{ successMessage }}</div>

        <div v-if="errorMessage" v-cloak class="alert alert-danger fade show brv-alert">
            &nbsp; {{ errorMessage }}
            <button type="button" class="close" v-on:click="errorMessage = '';" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
            <a class="navbar-brand" href="https://www.bravecollective.com/" target="_blank"
                title="Brave Collective: What's your fun per hour?">
                <img src="images/brave_32.png" class="align-top mr-2" alt="Brave logo">
                Brave Collective
            </a>
            <ul class="navbar-nav mr-auto">
                <li v-if="hasRole('group-manager')" v-cloak
                    class="nav-item" :class="{ active: currentComponent == 'Home' }">
                    <a class="nav-link" href="#" v-on:click="currentComponent = 'Home';">
                        Home</a>
                </li>
                <li v-if="hasRole('group-manager')" v-cloak
                    class="nav-item" :class="{ active: currentComponent == 'GroupManagement' }">
                    <a class="nav-link" href="#" v-on:click="currentComponent = 'GroupManagement';">
                        Group Management</a>
                </li>
            </ul>
            <img v-if="authChar" v-cloak :src="'https://image.eveonline.com/Character/' + authChar.id + '_32.jpg'"
                class="d-inline-block align-top mr-2" alt="Character Portrait">
            <span v-if="authChar" v-cloak class="navbar-brand">{{ authChar.name }}</span>
            <input v-if="authChar" v-cloak v-on:click="logout"
                class="btn btn-outline-success" type="submit" value="Sign Out">
        </nav>

        <component v-bind:is="currentComponent"
            :swagger="swagger" :auth-char="authChar" :player="player"></component>

    </div>
</body>
</html>
