//@import "whatever.scss";

html {
    // for sticky footer
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 90px; // ~ max footer height
}

/**
 * for a sticky, scrollable left column
 */
.sticky-column {
    @media (min-width: 992px) {
        @supports (position: sticky) {
            position: sticky;
            top: 80px;
            max-height: calc(100vh - 84px);
            overflow-y: auto;
        }
    }
}

.footer {
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer .container-fluid {
    text-align: center;
}
.footer .github {
    float: right;
}

[v-cloak] {
    display: none;
    visibility: hidden;
}

.alert.app-alert {
    position: fixed;
    top: 60px;
    left: 25%;
    right: 25%;
    z-index: 5000;
}

#loader {
    position: fixed;
    top: 25px;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    z-index: 5000;
    border: 16px solid #555;
    border-top: 16px solid #eee;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
