//@import "whatever.scss";

html {
    // for sticky footer
    position: relative;
    min-height: 100%;
}

body.neucore {
    margin-bottom: 75px; // max footer height
}

[v-cloak] {
    display: none;
    visibility: hidden;
}

/**
 * Fonts for the markdown emojis
 */
.emoji {
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", monospace;
}

/**
 * for a sticky, scrollable left column
 */
.row > .sticky-column {
    @media (min-width: 992px) {
        @supports (position: sticky) {
            position: sticky;
            top: 51px;
            max-height: calc(100vh - 55px);
            overflow-y: auto;
        }
    }
}

/**
 * class for the body background color
 */
.bg-body {
    background-color: #fff;
}
.cyborg .bg-body {
    background-color: #060606;
}
.darkly .bg-body {
    background-color: #222;
}
.slate .bg-body {
    background-color: #272B30;
}
.simplex .bg-body {
    background-color: #FCFCFC;
}
.solar .bg-body {
    background-color: #002B36;
}
.superhero .bg-body {
    background-color: #2B3E50;
}

/**
 * Change "light" table head for some dark themes
 */
.cyborg .table .thead-light th {
    // colors from .thead-dark
    color: #fff;
    background-color: #888;
    border-color: #757575;
}
.darkly .table .thead-light th {
    color: #fff;
    background-color: #404040; // a little bit lighter than .thead-dark
    border-color: #434343;
}
.slate .table .thead-light th {
    // colors from .thead-dark
    color: #fff;
    background-color: rgb(58, 63, 68);
    border-color: rgba(0, 0, 0, 0.6);
}
.solar .table .thead-light th {
    // colors from .thead-dark
    color: #002B36;
    background-color: #adb5bd;
    border-color: #a5adb6;
}

/**
 * Change form control background color for dark themes
 */
.cyborg,
.darkly,
.slate {
    .form-control,
    .custom-select,
    .custom-control-label::before,
    .multiselect__tags,
    .multiselect__input,
    .multiselect__spinner {
        color: #fff;
        background-color: #666;
    }
    .multiselect__single {
        background-color: #666;
    }
    .multiselect__input::placeholder,
    .form-control::placeholder {
        color: #ddd;
    }
    .multiselect__content {
        color: #fff;
        background-color: #333;
    }
    .multiselect__option--selected {
        color: #fff;
        background-color: #444;
    }
}
.darkly .form-control[disabled] {
    color: #adadad;
    background-color: #565656;
}
.solar,
.superhero {
    // colors from .solar
    .form-control,
    .custom-select,
    .custom-control-label::before,
    .multiselect__tags,
    .multiselect__input,
    .multiselect__spinner {
        color: #495057;
        background-color: #A9BDBD;
    }
    .multiselect__single {
        background-color: #A9BDBD;
    }
    .multiselect__input::placeholder,
    .form-control::placeholder {
        color: #495057;
    }
    .multiselect__content {
        color: #495057;
        background-color: #A9BDBD;
    }
    .multiselect__option--selected {
        color: #495057;
        background-color: #A9BDBD;
    }
}

/**
 * Smaller table than .table-sm
 */
.nc-table-sm {
    font-size: 90%;
    td, th {
        padding: 0.25rem 0.75rem;
    }
    td .btn-sm {
        padding: 0.01rem 0.25rem;
    }
}

/**
 * The edit icons for the group, app etc. admin navigation.
 */
.list-item-wrap {
    position: relative;
    a {
        z-index: 1;
        &.active {
            padding-right: 5rem;
        }
    }
    .entity-actions {
        display: none;
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        z-index: 2;
        span {
            cursor: pointer;
            padding: 4px 4px 5px 4px;
            border: 1px solid white;
        }
    }
    &.active .entity-actions {
        display: inline;
    }
}

/**
 * Text classes
 */
.text-with-tooltip {
    text-decoration: underline;
    text-decoration-style: dotted;
}
