<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brave Collective Core Services</title>
</head>
<body>
    <!--[if lt IE 11]>
        <p style="width: 70%; margin: 4px auto; padding: 4px; border: 2px solid red; ">
            You are using an <strong>outdated</strong> browser. Please
            <a href="https://browsehappy.com/" target="_blank">upgrade your browser</a>
            to improve your experience and security.
        </p>
    <![endif]-->

    <div id="app">
        <div v-if="loadingCount > 0" v-cloak id="loader"></div>

        <div v-if="messageTxt" v-cloak class="alert fade show brv-alert" :class="[messageType]">
            {{ messageTxt }}
            <button type="button" class="close" v-on:click="messageTxt = ''" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <nav-bar :auth-char="authChar" :page="page"></nav-bar>

        <component v-bind:is="page"
            :route="route"
            :initialized="initialized"
            :swagger="swagger"
            :settings="settings"
            :player="player"
            :auth-char="authChar">
        </component>

        <footer class="footer bg-light text-dark text-muted small">
            <div class="container-fluid">
                Brave Collective Services. For support write to support@bravecollective.freshdesk.com
                or ask in the ingame channel "Brave IT".
                <a href="https://github.com/bravecollective/brvneucore"
                   class="github text-dark text-muted" target="_blank">github</a>
            </div>
        </footer>
    </div>
</body>
</html>
