<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <title></title>

    <% for (let i = 0; i < htmlWebpackPlugin.files.css.length; i++) {
        const file = htmlWebpackPlugin.files.css[i];
        if (file.match(/^dist\/theme-/)) {
            %><link href="<%= file %>" rel="alternate stylesheet" disabled title="theme"><%
        } else {
            %><link href="<%= file %>" rel="stylesheet">
        <%  }
    } %>

    <script src="api/user/settings/system/theme"></script>
    <script type="text/javascript">
        // activate theme css - the above script defined the variable "theme"
        var links = document.getElementsByTagName('link');
        for (var i = 0; i < links.length; i++) {
            if (links[i].getAttribute('title') !== 'theme') {
                continue;
            }
            if (links[i].getAttribute('href').indexOf('dist/theme-' + theme.toLowerCase()) !== -1) {
                links[i].disabled = false;
                links[i].setAttribute('rel', 'stylesheet');
                break;
            }
        }
    </script>
</head>
<body class="neucore">
    <p id="unsupportedBrowser">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/" target="_blank">upgrade your browser</a>
        to improve your experience and security.
    </p>

    <div id="app">
        <div v-if="loadingCount > 0" v-cloak id="loader"></div>

        <div v-if="messageTxt" v-cloak class="alert fade show app-alert" :class="[messageType]">
            {{ messageTxt }}
            <button type="button" class="close" v-on:click="messageTxt = ''" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <nav-bar v-if="settings.customization_default_theme" v-cloak
                 :auth-char="authChar" :page="page" :settings="settings"></nav-bar>

        <component v-if="settings.customization_default_theme" v-cloak v-bind:is="page"
            :route="route"
            :initialized="initialized"
            :swagger="swagger"
            :settings="settings"
            :player="player"
            :auth-char="authChar">
        </component>

        <footer v-if="settings.customization_github" v-cloak class="footer bg-light text-dark text-muted small">
            <div class="container-fluid">
                <span v-cloak>{{ settings.customization_footer_text }}</span>
                <a v-cloak :href="settings.customization_github" class="github text-dark text-muted"
                   target="_blank" title="Neucore on GitHub"><span class="fab fa-github"></span></a>
            </div>
            <div class="container-fluid small">
                "EVE", "EVE Online", "CCP" and all related logos and images are trademarks or registered trademarks of
                <a href="http://www.ccpgames.com/" target="_blank">CCP hf</a>.
            </div>
        </footer>
    </div>
    <script type="text/javascript">
        // check for old IE (lower than 11)
        try {
            eval('const supported = true;');
        } catch (e) {
            document.getElementById('unsupportedBrowser').style.display = 'block';
        }
    </script>
    <% for (let i = 0; i < htmlWebpackPlugin.files.js.length; i++) {
        const file = htmlWebpackPlugin.files.js[i];
        if (! file.match(/^dist\/theme-/)) { %><script type="text/javascript" src="<%= file %>"></script><% }
    } %>
</body>
</html>
