name: Test

on:
  push:
    branches: ['*']

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - php-version: '7.4'
            db-image: mariadb
            db-version: '10.2'
          - php-version: '8.0'
            db-image: mariadb
            db-version: '10.5'
          - php-version: '8.1'
            db-image: mysql
            db-version: '8.0'
    services:
      database:
        image: ${{ matrix.db-image }}:${{ matrix.db-version }}
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: test
        ports: ['3306:3306']
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: gmp, xdebug, apcu
          ini-values: apc.enable_cli=1
          tools: composer:v2
      - name: Install
        run: cd backend && composer install
      - name: Test with code coverage
        env:
          NEUCORE_APP_ENV: dev
          NEUCORE_TEST_DATABASE_URL: 'mysql://root:@127.0.0.1/test'
          NEUCORE_EVE_CLIENT_ID: '123'
          NEUCORE_EVE_SECRET_KEY: 'abc'
          NEUCORE_EVE_CALLBACK_URL: 'http://localhost'
        run: cd backend && vendor/bin/phpunit --coverage-clover var/logs/clover.xml
      - name: Setup SonarQube
        if: ${{ github.repository_owner == 'tkhamez' && matrix.php-version == '7.4' }}
        uses: warchant/setup-sonar-scanner@v3
      - name: SonarQube
        if: ${{ github.repository_owner == 'tkhamez' && matrix.php-version == '7.4' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: sonar-scanner
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
          -Dsonar.organization=tkhamez-github
          -Dsonar.host.url=https://sonarcloud.io/
